ul {
    display: flex;
    justify-content: space-start;
}
li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    border:  2px solid gray;
    border-radius: 16px;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}
.icon {
    display: block;
  width: 300px;
  height: 400px;
  margin-top: 10px;
  background-image: url("0.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.i-css {
    background-position: center;
}
.i-js {
    background-position: right;
}